/* Base */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;

}	


/* Type */
h1, li{
	font-family: 'Roboto', sans-serif;
}

#time {
	font-size: 150px;
	font-weight: bold;
}

#log {
	font-size: 24px;
	font-weight: normal;
}

ul {
	font-size: 18px;
	font-weight: normal;
}


 /* Color  */
body {
	background-color: #F2F9FE; /* Google White*/
}

#wrapper /* or dump */ {
	background-color: #2196F3; /* Google Blue */
}

#log {
	background-color: #F2F9FE; /* Google White */
}

#aggregate-list {
	background-color: #2196F3; /* Google Blue */
}

#time {
	color: #F2F9FE; /* Google White */
}

ul {
	color: #F2F9FE; /* Google Black */
}


/* Layout */
/* Main Dump */
body {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

#wrapper {
/*	padding: 5px;*/
	width: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#time {
	margin: 0px;
}

#log {
	width: 80vh;
	height: 10vh;
	text-align: center;
}


/* Aggregate */
#aggregate-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 100vh;
}

#aggregate-list {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: scroll;
	width: 250px;
	height: 100vh;
	text-align: left;
	list-style: none;
	opacity: 1;
}

#aggregate-icon {
	z-index: 9999;
	position: absolute;
	top: 20px;
	right: 40px;
	cursor: pointer;
}	

ul {
  list-style-type: none;
}