/* Base */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;

}	

/* Type */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #FEFEDF;
}

.input {
	font-size: 20px;
}

/* Color */
body {
	background-color: green;/*#845EC2;*/
}

#dump {
	background-color: red;
}

#wrapper {
	background-color: #00C9A7; /* cyan */
}

.input {
	background-color: #FEFEDF;
}

#aggregate {
	background-color: blue;
}

/* Layout */
/* Main Dump */
body {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

#wrapper {
	padding: 20px;
	width: 100vh;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

}

#log {
	width: 80vh;
	height: 10vh;
	text-align: center;
}


/* Aggregate */
#aggregate-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 100vh;
	/*background-color: red;*/
}

#aggregate-list {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: scroll;
	width: 20px;
	height: 20px;
	text-align: left;
	list-style: none;
	opacity: 1;
	/*background-color: blue;*/
}


/* Aggregate Icon */
#aggregate-icon {
	z-index: 9999;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}	

#aggregate-container:active #aggregate-list {
	opacity: 1;
	height: 100vh;
	width: 250px;
}


/*div {
  background: #fff;
  margin: 0 auto;
  padding: 100px;
  text-align: center;
   border-radius 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
   box-shadow 
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  min-width:550px;
}*/


